<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  <%= mytitle %></title>
    <link rel='stylesheet' href='mystyle.css'>
</head>
<body>
    
    <form action="/home" method="post"> 
    <h1>Welcome to the Home Page</h1>
    <p>Tell me your name!</p>
    <input  name="userName" type="text" placeholder="Type something here...">
    <button>Send to DB</button>
</form>


    <h1> Your name is .... </h1>

   <%= arr.at(0).userName %>
</html>
